.infos {
  display: flex;
  align-items:center;
}
.copy{
  text-align: center;
  border: 0;
  padding: 1%;
  border-radius: 2px;
  color: rgb(255,255,255);
  background-color: rgb(33, 150, 243);
}
.copy:hover{
  background-color: rgb(125, 193, 248);
}
.data {
  display: flex;
  align-items:center;
}
.about p a{
  color: blue;
  text-decoration: none
}

.about{
  min-width: 20vw;
  max-width: 600px;
  margin: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.example{
  min-width: 30vw;
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items:center;
  flex-direction: column;
}

.reasons {
  min-width: 30vw;
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items:center;
  flex-direction: column;
}

