.ul-parser {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.a-parser {
    padding: 2px;
    text-decoration: none;
    color: var(--color);

    font-family: Arial, Helvetica, sans-serif;
}
a:hover{
    font-size: 1.2rem;
    color: rgb(148, 138, 138);
}