.NavBar {
    width: 100vw;
  }
  
.NavBar-title ul a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  transition: 0.5s;
  }
.NavBar-header{
    text-align: center;
    align-items: center;
    display: flex;
    background-color: rgb(40, 44, 52);
    list-style: none;
    justify-content: space-between;
    color: rgb(255, 255, 255);
  }
.NavBar-buttons {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1.2%;
    border: 5px;
    text-align: end;
}
.NavBar-buttons a {
    text-decoration: none;
    padding: 2%;
    margin: 3px;
    color: rgb(255, 255, 255);
    background-color: rgb(40, 44, 52);
    transition: 0.5s;
}
.NavBar-buttons a:hover{
    font-size: 1.2rem;
    color: rgb(148, 138, 138);
}
.NavBar-title ul a:hover{
  color: rgb(148, 138, 138);
}