.documentsData{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-family: Arial, Helvetica, sans-serif;
}
.description{
    font-family: Arial, Helvetica, sans-serif;
}
.usage {
    width: calc(40px + 20vw);
    margin: 5%;
}
