.documentsList {
    padding: 2px;
    text-decoration: none;
    color: var(--color);

    font-family: Arial, Helvetica, sans-serif;
}

.documentsList:hover{
    font-size: 1.2rem;
    color: rgb(148, 138, 138);
}